# 컴파일된 결과물
/build
/out

# 의존성 디렉토리
/node_modules

# 환경 설정 파일
.env
.env.*
!.env.example

# IDE 설정 파일
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS 관련 파일
.DS_Store
Thumbs.db

# 테스트 커버리지
/coverage

# 임시 파일
wp
*.swo
.tmp/

# 캐시 디렉토리
.npm
.eslintcache
.cache

# NestJS 특정 파일
/dist
/node_modules

# 빌드 산출물
*.tsbuildinfo

# yarn 관련
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# 로컬 설정 파일
*.local 
.vercel
